{% extends "lightspeed/templates/index.html" %}

{% block ogdesc %}Personal web page of {{ config.author }}{% endblock ogdesc %}

{% block title %}
{{ config.title }}
{% endblock title %}



{% block content %}
{% if current_path == "/" %}
{% set image = resize_image(path="me.jpg", width=304, op="fit_width") %}
<img src="{{ image.url }}" alt="Portrait picture of {{ config.author }}" loading="lazy" />
{% endif %}
{{ section.content | safe }}
{% endblock content %}

{% block footer %}
    <footer role="contentinfo">
        <hr />
        {% if config.extra.linkedin or config.extra.github %}
        <nav style="margin-bottom:1rem;" role="navigation">
            {% if config.extra.linkedin %}
            <a href="{{ config.extra.linkedin }}" target="_blank">
                <img src="LI-Logo.png" alt="LinkedIn Logo" style="height: 1.25rem;" loading="lazy" />
            </a>
            {% endif %}
            {% if config.extra.github %}
            <a href="{{ config.extra.github }}" target="_blank">
                <img src="GitHub_Lockup_Black_Clearspace.svg" alt="GitHub Logo" style="height: 1.25rem;" loading="lazy" />
            </a>
            {% endif %}
        </nav>
        {% endif %}
        
        {% block taglines %}
          <small>
            Copyright &copy; {{ now() | date(format="%Y") }} {{ config.author }}. All rights reserved.
          </small>
        {% endblock taglines %}
    </footer>
{% endblock footer %}